<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Home</title>
</head>
<body>
<div align="center">
				<table width="559" border="0" cellspacing="2" cellpadding="0">
                    <tr height="45">
						<td colspan="3" valign="top" height="45">
                        <!-- InstanceBeginEditable name="Region" -->
                        	<p>Legacy BBS Sample</p>
                        <!-- InstanceEndEditable -->
                        </td>
					</tr>
					<tr height="25">
						<td colspan="3" valign="top" height="25">
                        <!-- InstanceBeginEditable name="Region2" -->
                        	<form method="POST" action="">
                        		<table width="100%" border="0">
                                  {{with .Errors}}
                        		  <tr>
                        		    <td width="9%">Submitter</td>
                                    <td width="91%"><input type="text" name="name" value="{{.Name}}" maxlength="32" cssStyle="width:150px;" /><br />
                                        {{if .NameError}}<font color="red">Enter a submitter</font>{{end}}</td>
                      		    </tr>
                        		  <tr>
                        		    <td>Mail</td>
                        		    <td><input type="text" name="email" value="{{.Email}}" maxlength="64" cssStyle="width:150px;" /></td>
                      		    </tr>
                        		  <tr>
                        		    <td>Title</td>
                        		    <td><input type="text" name="title" value="{{.Title}}" maxlength="64" cssStyle="width:150px;" /></td>
                      		    </tr>
                        		  <tr>
                        		    <td>Message</td>
                        		    <td><textarea name="message" cols="45" rows="5">{{.Message}}</textarea>
                        		      <br />
                                      {{if .MessageError}}<font color="red">Enter a message</font>{{end}}</td>
                      		    </tr>
                      		    <tr>
                        		    <td></td>
                        		    <td><input type="submit" name="submit" value="Submit" /></td>
                      		    </tr>
                                {{end}}
                      		  </table>
                           </form>
                           {{range .Entries}}
                        		<hr />
                        		<p>{{.Title}}  Submitter:
                        		{{if .Email}}<a href="mailto:{{.Email}}">
								{{end}}
                        		{{.Name}}{{if .Email}}</a>{{end}}
                        		  Date: {{.Date}} </p>
                              <p>{{.Message}}
                      		  </p>
                      		{{end}}
                      		<hr />
                            {{range .Pages}}	
                            {{if .IsCurrentPage}}
                                    {{.PageNum}}
                                {{else}}
                                    <a href="?page={{.PageNum}}">{{.PageNum}}</a>
                                {{end}}
                            {{end}}
                            {{if .IsFirstPage}}
                                    Previous
                                {{else}}
                                <a href="?page={{printf "%d" .PreviousPage}}">Previous</a>
                                {{end}}
                                {{if .IsLastPage}}
                                    Next
                                {{else}}
                                <a href="?page={{printf "%d" .NextPage}}">Next</a>
                                {{end}}
                        <!-- InstanceEndEditable -->
                        </td>
                    </tr>    
                </table>
             </div>
</body>
</html>
